body{
  font:13px/1.231 arial,helvetica,clean,sans-serif; /* YUI Font Reset */
  *font-size:small;     /* YUI Font Reset */
  *font:x-small;        /* YUI Font Reset */
  height: 100%;
  background: #fff;    /* not all browsers set white as the default background color  */
  color: #444;         /* color is set to create not too much contrast with the background color */
  line-height: 1.4;    /* line-height is to ensure that text is legible enough ( enough space between the lines) */
}
